.player-profile{
    display: flex;
    border: 1px solid rgba(219, 209, 230, 0.226);
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(221, 213, 230, 0.082) ;
    box-shadow: 5px 5px 5px 5px rgb(228, 204, 204);
}

    
img{
    width: 300px;
}


.profile-info{
    margin: 100px;
    padding-bottom: 5px;
}


.main-button {background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%)}
.main-button {
   margin: 10px;
   padding: 10px 25px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: rgb(240, 229, 229);  
   font-weight: bolder;          
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .main-button:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }

 small{
    margin-right: 8px;
    font-size: large;
}